<!--menu para mobiles-->
<div class="responsive-header">
    <div class="responsive-menubar">
        <div class="res-logo">
            <a [routerLinkActive]="['home']"><img src="http://placehold.it/178x40" alt="" /></a>
            <div class="menu-resaction">
                <div class="res-openmenu">
                    <img src="../../../assets/images/icon.png" alt="" /> Menu
                </div>
                <div class="res-closemenu">
                    <img src="../../../assets/images/icon2.png" alt="" /> Close
                </div>
            </div>
        </div>
    </div>
    <div class="responsive-opensec">
        <div class="btn-extars">
            <a href="#" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a>
            <ul class="account-btns">
                <li>
                    <a [routerLink]="['register']">
                        <i class="la la-key"></i>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['login']">
                        <i class="la la-external-link-square"></i> Login
                    </a>
                </li>
            </ul>
        </div>
        <div class="responsivemenu">
            <ul>
                <li><a [routerLink]="['home']" title="home">Home</a></li>
                    <li class="menu-item-has-children">
                        <a [routerLink]="['employer']">Employers</a>
                        <ul>
                            <li><a [routerLink]="['employer-manage-jobs']">Employer Job Manager</a></li>
                            <li><a [routerLink]="['employer-package']">Employer Packages</a></li>
                            <li><a [routerLink]="['employer-post-new']">Employer Post New</a></li>
                            <li><a [routerLink]="['employer-profile']">Employer Profile</a></li>
                            <li><a [routerLink]="['employer-resume']">Employer Resume</a></li>
                            <li><a [routerLink]="['employer-transactions']">Employer Transaction</a></li>
                            <li><a [routerLink]="['employer-job-alert']">Employer Job Alert</a></li>
                            <li><a [routerLink]="['employer-change-password']">Employer Change Password</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a [routerLink]="['candidates']">Candidates</a>
                        <ul>
                            <li><a [routerLink]="['candidates-resume']">Candidates Resume</a></li>
                            <li><a [routerLink]="['candidates-resume-add-new']">Candidates Resume new</a></li>
                            <li><a [routerLink]="['candidates-profile']">Candidates Profile</a></li>
                            <li><a [routerLink]="['candidates-shortlist']">Candidates Shortlist</a></li>
                            <li><a [routerLink]="['candidates-job-alert']">Candidates Job Alert</a></li>
                            <li><a [routerLink]="['candidates-dashboard']">Candidates Dashboard</a></li>
                            <li><a [routerLink]="['candidates-cover-letter']">CV Cover Letter</a></li>
                            <li><a [routerLink]="['candidates-change-password']">Change Password</a></li>
                            <li><a [routerLink]="['candidates-applied-jobs']">Candidates Applied Jobs</a></li>
                        </ul>
                    </li>
        
                    <li>
                        <a [routerLink]="['job-list']">Job</a>
                        </li>

                    <li>
                        <a [routerLink] = "['contact']">Contact</a>
                    </li> 
            </ul>
        </div>
    </div>
</div>
<!--menu para mobiles-->
<!--Header -->
<header class="stick-top style2">
    <div class="menu-sec">
        <div class="container fluid">
            <div class="logo">
                <a [routerLinkActive]="['home']" title=" "><img src="http://placehold.it/178x40 " alt=" " /></a>
            </div>
            <!-- Logo -->
            <div class="btn-extars ">
                <a href="# " title=" " class="post-job-btn "><i class="la la-plus "></i>Post Jobs</a>
                <ul class="account-btns ">
                    <li><a [routerLink]="['register']"><i class="la la-key "></i> Sign Up</a></li>
                    <li><a [routerLink]="['login']"><i class="la la-external-link-square "></i> Login</a></li>
                </ul>
            </div>
            <!-- Btn Extras -->
            <nav>
                <ul>
                    <li><a [routerLink]="['home']" title="home">Home</a>

                        <li class="menu-item-has-children ">
                            <a [routerLink]="['employer']">Employers</a>
                            <ul>
                                <li><a [routerLink]="['employer-manage-jobs']">Employer Job Manager</a></li>
                                <li><a [routerLink]="['employer-package']">Employer Packages</a></li>
                                <li><a [routerLink]="['employer-post-new']">Employer Post New</a></li>
                                <li><a [routerLink]="['employer-profile']">Employer Profile</a></li>
                                <li><a [routerLink]="['employer-resume']">Employer Resume</a></li>
                                <li><a [routerLink]="['employer-transactions']">Employer Transaction</a></li>
                                <li><a [routerLink]="['employer-job-alert']">Employer Job Alert</a></li>
                                <li><a [routerLink]="['employer-change-password']">Employer Change Password</a></li>
                            </ul>
                            <li class="menu-item-has-children">
                                <a [routerLink]="['candidates']">Candidates</a>
                                <ul>
                                    <li><a [routerLink]="['candidates-resume']">Candidates Resume</a></li>
                                    <li><a [routerLink]="['candidates-resume-add-new']">Candidates Resume new</a></li>
                                    <li><a [routerLink]="['candidates-profile']">Candidates Profile</a></li>
                                    <li><a [routerLink]="['candidates-shortlist']">Candidates Shortlist</a></li>
                                    <li><a [routerLink]="['candidates-job-alert']">Candidates Job Alert</a></li>
                                    <li><a [routerLink]="['candidates-dashboard']">Candidates Dashboard</a></li>
                                    <li><a [routerLink]="['candidates-cover-letter']">CV Cover Letter</a></li>
                                    <li><a [routerLink]="['candidates-change-password']">Change Password</a></li>
                                    <li><a [routerLink]="['candidates-applied-jobs']">Candidates Applied Jobs</a></li>
                                </ul>
                                <li><a [routerLink]="['job-list']">Job</a></li>
                                <li>
                                    <a [routerLink]="['contact']">Contact</a>
                                </li>
                </ul>
            </nav>
            <!-- Menus -->
        </div>
    </div>
</header>