<!--menu para mobiles-->
<div class="responsive-header">
    <div class="responsive-menubar">
        <div class="res-logo">
            <a href="index2.html" title=""><img src="http://placehold.it/178x40" alt="" /></a>
            <div class="menu-resaction">
                <div class="res-openmenu">
                    <img src="../../../assets/images/icon.png" alt="" /> Menu
                </div>
                <div class="res-closemenu">
                    <img src="../../../assets/images/icon2.png" alt="" /> Close
                </div>
            </div>
        </div>
    </div>
    <div class="responsive-opensec">
        <div class="btn-extars">
            <a href="#" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a>
            <ul class="account-btns">
                <li>
                    <a href="register.html">
                        <i class="la la-key"></i>
                    </a>
                </li>
                <li>
                    <a href="login.html">
                        <i class="la la-external-link-square"></i> Login
                    </a>
                </li>
            </ul>
        </div>

    </div>


</div>
<!--menu para mobiles-->
<!--Header -->
<header class="stick-top style2">
    <div class="menu-sec">
        <div class="container fluid">
            <div class="logo">
                <a href="index2.html" title=""><img src="http://placehold.it/178x40" alt="" /></a>
            </div>
            <!-- Logo -->
            <div class="btn-extars">
                <a href="#" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a>
                <ul class="account-btns">
                    <li><a href="register.html"><i class="la la-key"></i> Sign Up</a></li>
                    <li><a href="login.html"><i class="la la-external-link-square"></i> Login</a></li>
                </ul>
            </div>
            <!-- Btn Extras -->
            <nav>
                <ul>
                    <li><a href="index2.html" title="">Home</a>

                        <li class="menu-item-has-children">
                            <a href="employer_list1.html">Employers</a>
                            <ul>
                                <li><a href="employer_manage_jobs.html">Employer Job Manager</a></li>
                                <li><a href="employer_packages.html">Employer Packages</a></li>
                                <li><a href="employer_post_new.html">Employer Post New</a></li>
                                <li><a href="employer_profile.html">Employer Profile</a></li>
                                <li><a href="employer_resume.html">Employer Resume</a></li>
                                <li><a href="employer_transactions.html">Employer Transaction</a></li>
                                <li><a href="employer_job_alert.html">Employer Job Alert</a></li>
                                <li><a href="employer_change_password.html">Employer Change Password</a></li>

                            </ul>
                            <li class="menu-item-has-children"><a href="candidates_list.html">Candidates</a>
                                <ul>
                                    <li><a href="candidates_my_resume.html">Candidates Resume</a></li>
                                    <li><a href="candidates_my_resume_add_new.html" title="">Candidates Resume new</a></li>
                                    <li><a href="candidates_profile.html">Candidates Profile</a></li>
                                    <li><a href="candidates_shortlist.html">Candidates Shortlist</a></li>
                                    <li><a href="candidates_job_alert.html">Candidates Job Alert</a></li>
                                    <li><a href="candidates_dashboard.html">Candidates Dashboard</a></li>
                                    <li><a href="candidates_cv_cover_letter.html">CV Cover Letter</a></li>
                                    <li><a href="candidates_change_password.html">Change Password</a></li>
                                    <li><a href="candidates_applied_jobs.html">Candidates Applied Jobs</a></li>

                                </ul>
                                <li><a href="job_list_modern.html" title="">Job</a></li>

                                <li>
                                    <a href="pricing.html">Pricing</a>
                                </li>

                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                </ul>
            </nav>
            <!-- Menus -->
        </div>
    </div>
</header>