<div class="block  blue">

</div>
<section>
    <div class="block remove-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="account-popup-area signup-popup-box static">
                        <div class="account-popup">
                            <h3>Sign Up</h3>
                            <span>Lorem ipsum dolor sit amet consectetur adipiscing elit odio duis risus at lobortis ullamcorper</span>
                            <div class="select-user">
                                <span>Candidate</span>
                                <span>Employer</span>
                            </div>
                            <form ngNativeValidate [formGroup]="forma" (ngSubmit)="signUpUser()">
                                <div class="cfield">
                                    <input formControlName="nombre" type="text" required placeholder="Username" />
                                    <i class="la la-user"></i>
                                </div>
                                <div class="cfield">
                                    <input formControlName="password" type="password" required placeholder="password" />
                                    <i class="la la-key"></i>
                                </div>
                                <div class="cfield">
                                    <input formControlName="password2" type="password" required placeholder="Repeat password" />
                                    <i class="la la-key"></i>
                                </div>
                                <div class="cfield">
                                    <input formControlName="email" type="text" required placeholder="Email" />
                                    <i class="la la-envelope-o"></i>
                                </div>
                                <div class="mce-checkbox">
                                    <input formControlName="condiciones" required type="checkbox" id="checkTerm" />
                                    <label for="checkTerm">I accept <a class="alert alert-danger">terms</a> and conditions</label>
                                </div>
                                <button type="submit">Signup</button>
                            </form>

                        </div>
                    </div>
                    <!-- SIGNUP POPUP -->
                </div>
            </div>
        </div>
    </div>
</section>