<div class="block blue">

</div>

<section class="overlape">
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url(http://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Welcome Tera Planer</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="block no-padding">
        <div class="container">
                <div class="row no-gape">
                <aside class="col-lg-3 column border-right">
                    <div class="widget">
                        <div class="tree_widget-sec">
                            <ul>
                                <li class="inner-child">
                                    <a href="#" title=""><i class="la la-file-text"></i>Company Profile</a>
                                    <ul>
                                        <li><a href="#" title="">My Profile</a></li>
                                        <li><a href="#" title="">Social Network</a></li>
                                        <li><a href="#" title="">Contact Information</a></li>
                                    </ul>
                                </li>
                                <li class="inner-child">
                                    <a href="#" title=""><i class="la la-briefcase"></i>Manage Jobs</a>
                                    <ul>
                                        <li><a href="#" title="">My Profile</a></li>
                                        <li><a href="#" title="">Social Network</a></li>
                                        <li><a href="#" title="">Contact Information</a></li>
                                    </ul>
                                </li>
                                <li class="inner-child">
                                    <a href="#" title=""><i class="la la-money"></i>Transactions</a>
                                    <ul>
                                        <li><a href="#" title="">My Profile</a></li>
                                        <li><a href="#" title="">Social Network</a></li>
                                        <li><a href="#" title="">Contact Information</a></li>
                                    </ul>
                                </li>
                                <li class="inner-child">
                                    <a href="#" title=""><i class="la la-paper-plane"></i>Resumes</a>
                                    <ul>
                                        <li><a href="#" title="">My Profile</a></li>
                                        <li><a href="#" title="">Social Network</a></li>
                                        <li><a href="#" title="">Contact Information</a></li>
                                    </ul>
                                </li>
                                <li class="inner-child">
                                    <a href="#" title=""><i class="la la-user"></i>Packages</a>
                                    <ul>
                                        <li><a href="#" title="">My Profile</a></li>
                                        <li><a href="#" title="">Social Network</a></li>
                                        <li><a href="#" title="">Contact Information</a></li>
                                    </ul>
                                </li>
                                <li class="inner-child">
                                    <a href="#" title=""><i class="la la-file-text"></i>Post a New Job</a>
                                    <ul>
                                        <li><a href="#" title="">My Profile</a></li>
                                        <li><a href="#" title="">Social Network</a></li>
                                        <li><a href="#" title="">Contact Information</a></li>
                                    </ul>
                                </li>
                                <li class="inner-child">
                                    <a href="#" title=""><i class="la la-flash"></i>Job Alerts</a>
                                    <ul>
                                        <li><a href="#" title="">My Profile</a></li>
                                        <li><a href="#" title="">Social Network</a></li>
                                        <li><a href="#" title="">Contact Information</a></li>
                                    </ul>
                                </li>
                                <li class="inner-child"> 
                                    <a href="#" title=""><i class="la la-lock"></i>Change Password</a>
                                    <ul>
                                        <li><a href="#" title="">My Profile</a></li>
                                        <li><a href="#" title="">Social Network</a></li>
                                        <li><a href="#" title="">Contact Information</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" title=""><i class="la la-unlink"></i>Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </aside>
                <div class="col-lg-9 column">
                    <div class="padding-left">
                        <div class="manage-jobs-sec">
                            <h3>Transactions</h3>
                            <table>
                                <thead>
                                    <tr>
                                        <td>Package ID</td>
                                        <td>Title</td>
                                        <td>Payment Date</td>
                                        <td>Payment Type</td>
                                        <td>Amount</td>
                                        <td>Status</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span>221319456</span>
                                        </td>
                                        <td>
                                            <div class="table-list-title">
                                                <h3><a href="#" title="">Advertise job - Supper Jobs</a></h3>
                                            </div>
                                        </td>
                                        <td>
                                            <span>April 04, 2017</span>
                                        </td>
                                        <td>
                                            <span>Pre Bank Transfer</span>
                                        </td>
                                        <td>
                                            <span class="status active">$99</span>
                                        </td>
                                        <td>
                                            <span>Pending</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>221319456</span>
                                        </td>
                                        <td>
                                            <div class="table-list-title">
                                                <h3><a href="#" title="">CV Search - Unlimited CV Pack</a></h3>
                                            </div>
                                        </td>
                                        <td>
                                            <span>April 04, 2017</span>
                                        </td>
                                        <td>
                                            <span>Skrill</span>
                                        </td>
                                        <td>
                                            <span class="status active">$150</span>
                                        </td>
                                        <td>
                                            <span>Approved</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>221319456</span>
                                        </td>
                                        <td>
                                            <div class="table-list-title">
                                                <h3><a href="#" title=""> Advertise job - Golden Package</a></h3>
                                            </div>
                                        </td>
                                        <td>
                                            <span>April 04, 2017</span>
                                        </td>
                                        <td>
                                            <span>Paypal</span>
                                        </td>
                                        <td>
                                            <span class="status active">$124</span>
                                        </td>
                                        <td>
                                            <span>Pending</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>221319456</span>
                                        </td>
                                        <td>
                                            <div class="table-list-title">
                                                <h3><a href="#" title="">Advertise job - Supper Jobs</a></h3>
                                            </div>
                                        </td>
                                        <td>
                                            <span>April 04, 2017</span>
                                        </td>
                                        <td>
                                            <span>Payoneer</span>
                                        </td>
                                        <td>
                                            <span class="status active">$117</span>
                                        </td>
                                        <td>
                                            <span>Pending</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
</section>