<!--Buscador-->
<section>
    <div class="block no-padding">
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-featured-sec style2">
                        <ul class="main-slider-sec style2 text-arrows">
                            <li class="slideHome"><img src="../../assets/images/resource/slider1.jpeg" alt="" /></li>
                            <li class="slideHome"><img src="../../assets/images/resource/slider2.jpeg" alt="" /></li>
                            <li class="slideHome"><img src="../../assets/images/resource/slider3.jpg" alt="" /></li>
                        </ul>
                        <div class="job-search-sec">
                            <div class="job-search style2">
                                <h3>The Easiest Way to Get Your New Job</h3>
                                <span>Find Jobs, Employment & Career Opportunities</span>
                                <div class="search-job2">
                                    <form>
                                        <div class="row no-gape">
                                            <div class="col-lg-4 col-md-3 col-sm-4">
                                                <div class="job-field">
                                                    <input type="text" placeholder="Keywords" />
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4">
                                                <div class="job-field">
                                                    <select data-placeholder="All Regions" class="chosen-city">
                                          <option>Istanbul</option>
                                          <option>New York</option>
                                          <option>London</option>
                                          <option>Russia</option>
                                        </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4">
                                                <div class="job-field">
                                                    <select data-placeholder="Any category" class="chosen-city">
                                          <option>Mechanic</option>
                                          <option>Web Development</option>
                                          <option>Car Install</option>
                                          <option>Shoes Slippers</option>
                                        </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-2  col-md-3 col-sm-12">
                                                <button type="submit">FIND JOB <i class="la la-search"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- Job Search 2 -->
                                <div class="quick-select-sec">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="quick-select">
                                                <a href="#" title="">
                                                    <i class="la la-bullhorn"></i>
                                                    <span>Design, Art & Multimedia</span>

                                                </a>
                                            </div>
                                            <!-- Quick Select -->
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="quick-select">
                                                <a href="#" title="">
                                                    <i class="la la-graduation-cap"></i>
                                                    <span>Education Training</span>
                                                </a>
                                            </div>
                                            <!-- Quick Select -->
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="quick-select">
                                                <a href="#" title="">
                                                    <i class="la la-line-chart "></i>
                                                    <span>Accounting / Finance</span>

                                                </a>
                                            </div>
                                            <!-- Quick Select -->
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="quick-select">
                                                <a href="#" title="">
                                                    <i class="la la-users"></i>
                                                    <span>Human Resource</span>
                                                </a>
                                            </div>
                                            <!-- Quick Select -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>